
@{
    ViewBag.Title = "Главная";
}

<h1 class="text-center">Редактор Бота</h1>
<div style="height: 50px;"></div>
<section class="row">
    <div class="card columns small-2" style="width: 300px; position: ">
        <div class="card-divider">
            <h4>Привет, @ViewBag.UserName!</h4>
        </div>
        <img src="~/Content/bot.jpg">
        <div class="card-section">
            > Редактируя мои диалоги и настраивая навыки кандидатов, ты поможешь мне быть лучше в своем деле.
        </div>

    </div>
    <article class="columns small-8 right">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Tempor orci dapibus ultrices in iaculis nunc sed augue. Aliquam sem et tortor consequat id porta nibh venenatis. Neque aliquam vestibulum morbi blandit cursus risus. Mauris ultrices eros in cursus turpis massa tincidunt dui. Urna porttitor rhoncus dolor purus non enim. Purus non enim praesent elementum facilisis leo vel fringilla est. Aliquet sagittis id consectetur purus ut faucibus pulvinar elementum. Tellus in metus vulputate eu scelerisque felis. Elit pellentesque habitant morbi tristique senectus. Adipiscing at in tellus integer feugiat scelerisque varius. Morbi blandit cursus risus at. Habitasse platea dictumst vestibulum rhoncus est pellentesque. Sem et tortor consequat id porta nibh venenatis. Enim eu turpis egestas pretium aenean pharetra magna ac. Viverra nibh cras pulvinar mattis nunc sed blandit libero. Adipiscing elit pellentesque habitant morbi tristique senectus et netus et. Convallis aenean et tortor at risus viverra adipiscing at. Tristique senectus et netus et malesuada fames ac. A cras semper auctor neque.
        </p>
        Ornare quam viverra orci sagittis. At varius vel pharetra vel turpis nunc eget lorem dolor. Quis imperdiet massa tincidunt nunc pulvinar sapien et ligula. Lorem sed risus ultricies tristique nulla. Amet facilisis magna etiam tempor orci. Nisl rhoncus mattis rhoncus urna neque viverra justo. Dolor sit amet consectetur adipiscing elit ut. Vestibulum lectus mauris ultrices eros. Facilisi etiam dignissim diam quis. Pulvinar elementum integer enim neque volutpat ac tincidunt vitae semper.
        <p>
            Massa tempor nec feugiat nisl pretium fusce id velit. Lacus suspendisse faucibus interdum posuere lorem ipsum dolor sit. Dictum at tempor commodo ullamcorper a lacus vestibulum. Tincidunt praesent semper feugiat nibh sed. Euismod lacinia at quis risus sed vulputate odio. Urna condimentum mattis pellentesque id nibh tortor id aliquet lectus. Vel facilisis volutpat est velit. Mollis nunc sed id semper risus in hendrerit. Habitant morbi tristique senectus et netus et. Quis blandit turpis cursus in.
        </p>
        Sit amet mattis vulputate enim nulla aliquet. Sollicitudin aliquam ultrices sagittis orci. Sit amet massa vitae tortor condimentum lacinia quis vel. Ut faucibus pulvinar elementum integer enim neque. Eu ultrices vitae auctor eu augue. Donec pretium vulputate sapien nec. Mollis aliquam ut porttitor leo a. Ut lectus arcu bibendum at varius vel. Tincidunt vitae semper quis lectus nulla at volutpat diam ut. At in tellus integer feugiat scelerisque. Lacinia quis vel eros donec ac odio tempor orci dapibus. Lacus sed turpis tincidunt id aliquet. Diam maecenas ultricies mi eget mauris. Sit amet cursus sit amet dictum sit.
        <p>
            Adipiscing vitae proin sagittis nisl rhoncus mattis rhoncus urna neque. Donec ultrices tincidunt arcu non sodales neque sodales. Posuere lorem ipsum dolor sit amet consectetur adipiscing. Phasellus vestibulum lorem sed risus ultricies tristique nulla. Mauris a diam maecenas sed enim ut. In nibh mauris cursus mattis molestie a iaculis at. Risus nullam eget felis eget nunc lobortis mattis aliquam. Vitae et leo duis ut diam. At imperdiet dui accumsan sit amet nulla facilisi. Laoreet id donec ultrices tincidunt arcu non sodales neque. Nec tincidunt praesent semper feugiat nibh sed pulvinar proin.
        </p>
    </article>
</section>