
@{
    ViewBag.Title = "Главная";
}

<h1>Редактор Бота</h1>
<div class="card" style="width: 300px;">
    <div class="card-divider">
        <h4>Привет, учитель!</h4>
    </div>
    <img src="~/Content/bot.jpg">
    <div class="card-section">
        > Редактируя мои диалоги и настраивая навыки кандидатов, ты поможешь мне быть лучше в своем деле.
    </div>
</div>
