@model IEnumerable<BotHunter.Models.Skill>

@{
    ViewBag.Title = "Навыки";
}

<h2>Список навыков</h2>

<p>
    <a class="button success" href="#"><i class="fi-plus"></i> Добавить</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            
        </td>
    </tr>
}

</table>
