#menuCaption {
    color: darkgray;
    font-weight: 600;
    font-size: large;
}

#logoff {
    display: inline;
}

#menuButton {
    width: 70px;
    background-color: #dddddd;
}

#menuIcon {
    font-size: 35px;
    color: lightslategray;
}

#logoffButton {
    background: none;
    border: none;
    color: blue;
    text-decoration: underline;
    cursor: pointer;
    font-size: 1em;
    font-family: serif;
    float: right;
    margin-top: 10px;
}

    #logoffButton:focus {
        outline: none;
    }

    #logoffButton:active {
        color: red;
    }
