@font-face {
    font-family: Fantazyor;
    src: url(Fantazyor.ttf);
}

input[disabled] {
    cursor: text;
}

#MainCaption {
    color: #6699ccc7;
    font-size: 104px;
    font-weight: bold;
    font-family: Fantazyor;
    perspective: 200px;
    perspective-origin: 0% 50%;
    cursor: text;
}


    #MainCaption:after {
        content: "";
        position: absolute;
        width: 70%;
        height: 150%;
        top: -30%;
        left: 10%;
        transform: rotateX(23deg);
        background-image: repeating-linear-gradient(0deg, transparent 0px, transparent 47px, #6a24c71a 34px, #c760245c 51px), repeating-linear-gradient(90deg, transparent 0px, transparent 47px, #24c7a957 63px, #0e48a094 64px);
    }

#menuCaption {
    color: darkgray;
    font-weight: 600;
    font-size: large;
}

#logoff {
    display: inline;
}

#menuButton {
    width: 70px;
    background-color: #dddddd;
}

#menuIcon {
    font-size: 35px;
    color: lightslategray;
}

#logoffButton {
    background: none;
    border: none;
    color: blue;
    text-decoration: underline;
    cursor: pointer;
    font-size: 1em;
    font-family: serif;
    float: right;
    margin-top: 10px;
}

    #logoffButton:focus {
        outline: none;
    }

    #logoffButton:active {
        color: red;
    }

.ace_editor {
    border: 1px solid lightgray;
    height: 200px;
    width: 80%;
}

.scrollmargin {
    height: 80px;
    text-align: center;
}

.topics-container {
    width: 60%;
    border: 2px solid #93d1d4d9;
    min-height: 20px;
}